<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAugqKOAcVwjdxOVtXgZDJJ1TAJ7giG8YY"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add_work Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>

        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            margin: 0;
            padding: 0;
            
        }
        header {
            text-align: center;
        }
        main {
            display: flex;
            flex: 1;
        }
        .machine_page {
            background-color: #f9f5f5;
            flex: 1;
        }
        .map_page {
            flex: 2;
        }
        .add_icon {
            position: absolute;
            top: 10px;
            left: 14px;
        }

    </style>
</head>
<body>
    
    <header>
        <!-- 헤더 고정 -->
        {% include 'work/header.html' %}
    </header>

    <main>

        <div class="machine_page">
            <div class="card border-secondary mb-3" style="max-width: 30rem; height: 36rem; margin: 10px; border: none;">
                
                <div class="card-header" style="font-size: 20px; font-weight: bold; display: flex;">
                    <div style="flex:12;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;작업 추가
                    </div>
                    <div class="back_button" style="flex:1;">
                        <a href="{% url 'work:main' %}">
                            <button type="button" class="btn-close" aria-label="Close"></button>
                        </a>
                    </div>
                </div>
                <div class="add_icon"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-stack-overflow" viewBox="0 0 16 16">
                        <path d="M12.412 14.572V10.29h1.428V16H1v-5.71h1.428v4.282h9.984z"/>
                        <path d="M3.857 13.145h7.137v-1.428H3.857v1.428zM10.254 0 9.108.852l4.26 5.727 1.146-.852L10.254 0zm-3.54 3.377 5.484 4.567.913-1.097L7.627 2.28l-.914 1.097zM4.922 6.55l6.47 3.013.603-1.294-6.47-3.013-.603 1.294zm-.925 3.344 6.985 1.469.294-1.398-6.985-1.468-.294 1.397z"/>
                    </svg>
                </div>

                <div class="card-body text-secondary">
                    <form action="{% url 'work:add_work' %}" method="post">

                        <!--  작업 이름 설정  -->
                        <div class="input-group mb-3" style="margin-top: 10px;">
                            <input type="text" class="form-control border-bottom" placeholder="작업 이름을 입력하세요" aria-label="작업 이름을 입력하세요" aria-describedby="basic-addon1" style="border:none;">
                        </div>

                        <!--  배치할 경작지  -->
                        <div style="display: flex; margin-top: 30px; margin-left: 20px; color:black; font-weight: 800;">
                            <div style="margin-right: 30px;">
                                배치할 경작지
                            </div>
                            <select class="form-select" name="selected_farm" style="width: 200px; height: 30px;">
                                <select name="selected_option">
                                    {% for option in options %}
                                        <option value="{{ option }}">{{ option }}</option>
                                    {% endfor %}
                                </select>
                            </select>
                        </div>

                        <!--  작업기 종류  -->
                        <div style="display: flex; margin-top: 20px; margin-left: 20px; color:black; font-weight: 800;">
                            <div style="margin-right: 46px;">
                                작업기 종류
                            </div>
                            <select class="form-select" name="selected_farm" style="width: 200px; height: 30px;">
                                <select name="selected_option">
                                    {% for option in options %}
                                        <option value="{{ option }}">{{ option }}</option>
                                    {% endfor %}
                                </select>
                            </select>
                        </div>

                        <!-- 시작 일자 선택 -->
                        <div style="display: flex; margin-top: 20px; margin-left: 20px; color:black; font-weight: 800;">
                            <div style="margin-right: 100px;">
                                기간
                            </div>
                            <!-- 시작 년도 선택 -->
                            <select class="form-select" name="selected_farm" style="width: 200px; height: 30px;">
                                <select name="start_year">
                                    {% for i in year_list %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </select>
                            <div style="margin-right: 4px;">
                                년
                            </div>

                            <!-- 시작 월 선택 -->
                            <select class="form-select" name="selected_farm" style="width: 50px; height: 30px;">
                                <select name="start_month">
                                    {% for i in month_list %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </select>
                            <div style="margin-right: 4px;">
                                월
                            </div>

                            <!-- 시작 일 선택 -->
                            <select class="form-select" name="selected_farm" style="width: 50px; height: 30px;">
                                <select name="start_day">
                                    {% for i in day_list %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </select>
                            <div style="margin-right: 4px;">
                                일
                            </div>
                        </div>

                        <!-- 마감 일자 선택 -->
                        <div style="display: flex; margin-top: 20px; margin-left: 130px; color:black; font-weight: 800;">
                            <div style="margin-right: 10px;">
                                ~
                            </div>
                            <!-- 마감 년도 선택 -->
                            <select class="form-select" name="selected_farm" style="width: 60px; height: 30px;">
                                <select name="end_year">
                                    {% for i in year_list %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </select>
                            <div style="margin-right: 4px;">
                                년
                            </div>

                            <!-- 마감 월 선택 -->
                            <select class="form-select" name="selected_farm" style="width: 50px; height: 30px;">
                                <select name="end_month">
                                    {% for i in month_list %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </select>
                            <div style="margin-right: 4px;">
                                월
                            </div>

                            <!-- 마감 일 선택 -->
                            <select class="form-select" name="selected_farm" style="width: 50px; height: 30px;">
                                <select name="end_day">
                                    {% for i in day_list %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </select>
                            <div style="margin-right: 4px;">
                                일
                            </div>
                        </div>

                        <!-- 제출 버튼 -->
                        <div style="display: flex; justify-content:flex-end; margin-top: 20px;">
                            <input type="submit" value="추가하기">
                        </div>
                    </form>


                </div>
            </div>
        </div>

        <!-- 구글맵 도시 -->
        <div class="content map_page">  
            <div id="map" style="width: 100%; height: 100%"></div>
        </div>
        <script>
            // 맵을 초기화하고 표시하는 스크립트 부분
            function initMap() {
                var mapOptions = {
                    center: {lat: 37.2703, lng: 126.9884},
                    zoom: 20,
                    mapTypeControl: false,
                    mapTypeId: google.maps.MapTypeId.SATELLITE
                };
                var map = new google.maps.Map(document.getElementById('map'), mapOptions);
            }
            // 맵을 초기화하는 함수를 호출합니다.
            window.onload = function() {
            initMap();
            };
        </script>

    </main>  
</body>
</html>