{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <!-- 필요한 meta tags 첨부하는 곳-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
    <!-- Bootstrap CSS부분-->
    <title>main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> 
  </head> 

  <style>
      .navbar-nav .nav-link {/* 홈같은 링크 색상 지정 */
          color: white;
      }
      .navbar img {
          margin-right: 60px; /* 이미지와 홈 화면의 간격 필요에 따라 조절하세요 */
      }
      .navbar-custom {
          background-color: #274131; /* 내비게이션 바 색상 */
      }
      .navbar-nav .nav-item {
          margin-right: 40px; /* 링크들 사이의 거리 */
     }
     .button-container {
      display: flex;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
    }
        
  </style>


  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- 네비게이션 바 색깔  -->
    <nav class="navbar navbar-expand-lg navbar-custom">
      <div class="container-fluid">
        <img style="height: 30px;" src="https://agmo.farm/assets/images/logo-white.svg">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'home:index' %}">홈</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="{% url 'work:main' %}">경작지</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'workdiary:workdiary_main' %}">작업일지</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">요약</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      <!--네비게이션 바 끝-->

    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding-bottom:0; padding-top: 7px; height:42px; border-top: 1px solid #adabab; border-bottom: 1px solid #c9c8c8;">
      
        <div class="button-container" id="buttonContainer">
          <!-- 경작지 표시 -->
          {% for farm in content|dictsort:"id" %}
            {% if farm.is_selected %}
              <div style="display: flex; flex-direction: column; text-align: center; position:relative;">
                <span class="material-symbols-outlined" style="color:#4a4a4a; font-size: 80px; position: absolute; top: 85%; left: 50%; transform: translate(-50%, -50%);">
                  remove
                </span>
                <button id="myButton-{{ farm.id }}" onclick="handleClick(this.id)" type="button" class="btn btn-light field-button" style="z-index: 2; color:#464646; font-weight: 800; margin-left: 10px; margin-bottom: 10px; white-space: nowrap; --bs-btn-padding-y: .2rem; --bs-btn-padding-x: .7rem;">
                  {{ farm.field_name }}
                </button>
              </div>
            {% else %}      
              <button id="myButton-{{ farm.id }}" onclick="handleClick(this.id)" type="button" class="btn btn-light field-button" style="margin-left: 10px; color:#7d7d7d; font-weight: 800; margin-bottom: 10px; white-space: nowrap; --bs-btn-padding-y: .2rem; --bs-btn-padding-x: .7rem;">{{ farm.field_name }}</button>
            {% endif %}
          {% endfor %}
  
        </div>
     

      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: end; position:relative; right:5px;">
          <!-- 경작지 추가 버튼 -->
        <a href="{% url 'farm:add_farmfield' %}" style="margin-right: 10px; margin-left:10px; margin-bottom: 10px; white-space: nowrap;">
          <button type="button" class="btn btn-light" style="color:#006b15; --bs-btn-padding-y: .0rem; --bs-btn-padding-x: .1rem; --bs-btn-border-radius: 0.3rem; border-width:2px; padding-bottom: 2px; padding-top: 2px;">
            <div style=" display: flex; align-items: center;"> 
              <span class="material-symbols-outlined">
                add
              </span>       
              <div style="font-weight: 800;">경작지 추가</div> 
            </div>
          </button>
        </a>


        <!--검색창-->
        <div class="d-flex opacity-75" style="width:300px; position: relative; bottom: 5px; z-index: 2;">

            <div class="input-group mb-3" style="position: relative; top: 8px;">
              <input type="text" class="form-control" id="searchInput" placeholder="경작지 검색" aria-label="경작지 검색">
              <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" id="searchButton" aria-expanded="false">검색</button>
              <ul class="dropdown-menu dropdown-menu-end" id="searchResults" data-bs-theme="dark">
                <!-- 검색 결과가 여기에 추가될 것입니다. -->
              </ul>
            </div>
        </div>
      </div>
    </nav>
    <script type="text/javascript" src="{% static 'js/field.js' %}"></script>
    <script>
      var buttonContainer = document.getElementById('buttonContainer');
    
      // 마우스 휠 이벤트 리스너 등록
      buttonContainer.addEventListener('wheel', function (event) {
        // event.deltaX 값에 따라 좌우로 스크롤
        buttonContainer.scrollLeft += 0.1*event.deltaY;
        // 이벤트 전파 중지
        event.preventDefault();
      });
    </script>
  </body>

</html>
